body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

.banner img {
    width: 100%;
    border-radius: 15px;
}

.pilih-liga img {
    max-height: 100px;
}

.pilih-liga .card {
    border-radius: 15px;
}

.products .card {
    border-radius: 15px;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb .active {
    font-weight: bold;
    color: black;
}

.btn-dark {
    border-radius: 10px;
}

.gambar-product {
    background-color: #f1f1f1;
    border-width: 0;
    border-radius: 20px;
}

.card-anchor-text {
    color: black;
    text-decoration: none;
}

.ver-cen > thead > tr > * {
    vertical-align: middle;
}

.ver-cen > tbody > tr > * {
    vertical-align: middle;
}
